
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.cache/
*.sqlite3
dev.db
.env
.env.*
!.env.example
.venv/
venv/
.vscode/
.idea/
*.log
docker-cache/

